<!DOCTYPE html>
<html>
	<head>
		<title>Simple Map</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
      #map {
	      height: 100%;
      }
		</style>
	</head>
	<body>
		<form id="searchInput">
			<input type="text" id="searchbox" placeholder="Search for tweets">
			<!--
	   <button onclick="display()" type="button" id="searchButton">Search</button>
			-->
			<button type="button" id="searchButton">Search</button>
			<p id="test">hey</p>
		</form>
		<div id="map"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script>

var map;

$(document).ready(function(){
});

$("#searchButton").click(function() {
	//clearAll();
	var searchtext = $('#searchbox').val();
	console.log(searchtext);
	$.ajax({
		type: "POST",
		url: 'ajax/search/',
		data: {searchtext, csrfmiddlewaretoken: '{{ csrf_token }}'},
		dataType: "json",

		success: function(data) {


	var markers = [];
	for (var i = 1; i < 4; i++) {
		var pos = new google.maps.LatLng(-25.363+i, 131.044-i);
		var desc = '<div>Hello World' + i +'</div>';

		var myinfowindow = new google.maps.InfoWindow({
			content: desc
		});

		markers[i] = new google.maps.Marker({
			position: pos,
			map: map,
			content: desc,
			id: i,
			infowindow: myinfowindow
		});

		google.maps.event.addListener(markers[i], 'click', function() {
			this.infowindow.open(map, this);
		});
	}

			var tweets = data['hits']['hits'];
			var markers = [];
			var index = 0;
			for (var i in tweets) {
				var tweet = tweets[i]['_source'];
				if (tweet == null) {
					continue;
				}
				var desc = tweet.text;
				var coordinate = tweet['coords'];
				if(coordinate == null) {
					continue;
				}
				var lat = coordinate.latitude;
				var lng = coordinate,longitude;
				var pos = new google.maps.LatLng(lat, lng);
				var myinfowindow = new google.maps.InfoWindow({
					content: desc
				});
				
				var cent = {lat: lat, lng: lng};
				markers[index] = new google.maps.Marker({
					position: pos,
					map: map,
					inforwindow: myinfowindow
				});
					
				google.maps.event.addListener(markers[index],'click', function() {
					this.infowindow.open(map, this);
				});
				index = index + 1;

			}
		},
		error: function(data) {
			console.log("error: " + data);
		}
	});
});

function initMap() {
	var uluru = {lat: -25.363, lng: 131.044};
	map = new google.maps.Map(document.getElementById('map'), {
		zoom: 8,
		center: uluru
	});
	/*
	var markers = new google.maps.Marker({
				position: uluru,
				map: map,
			});
	 */
}
function addMarker(lat, lng, text) {

	console.log('in add marker');
	console.log(lat);
	console.log(lng);
	console.log(text);
	var myinfowindow = new google.maps.InfoWindow({
		content: text
	});
	var pos = new google.maps.LatLng(lat, lng);
	var marker = new google.maps.Marker({
		position: pos,
		map: map,
		content: text,
		infowindow: myinfowindow
	});

	google.maps.event.addListener(marker, 'click', function() {
		this.infowindow.open(map, this);
	});
}
function display() {
	var searchtext = document.getElementById("searchbox").value;
	if (searchtext == "t1") {
		document.getElementById("test").innerHTML="test";
	} else {
		document.getElementById("test").innerHTML="else";
	}
	var uluru = {lat: -25.363, lng: 131.044};
	var markers = [];
	for (var i = 1; i < 4; i++) {
		var pos = new google.maps.LatLng(-25.363+i, 131.044-i);
		var desc = '<div>Hello World' + i +'</div>';

		var myinfowindow = new google.maps.InfoWindow({
			content: desc
		});
		setTimeout(function(){myinfowindow.close();}, '20');

		markers[i] = new google.maps.Marker({
			position: pos,
			map: map,
			content: desc,
			id: i,
			infowindow: myinfowindow
		});

		google.maps.event.addListener(markers[i], 'click', function() {
			this.infowindow.open(map, this);
		});
	}


}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI0jXwm778d4BKbvypdN6cGjCDi5myNWU&callback=initMap"
	  async defer></script>
	</body>
</html>
